@(anuncios: List[Anuncio], sucessos: Integer, msg: String)

@main(title = "2GIG - Encontre parceiros e faça um som!") {

   
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="@routes.Assets.at("images/logo.png")" alt="Worthy"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#banner">2GIG</a></div>
								<div class="site-slogan">Procure parceiros para tocar!</div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
											<ul class="nav navbar-nav navbar-right">
												<li class="active"><a href="/">Início</a></li>
												<li><a href="#portfolio">Anúncios</a></li>
												<li><a href="#" data-toggle="modal" data-target="#criar-anuncio">Anuncie!</a></li>

												<!--modal de criar anúncio-->
												<div class="modal fade" id="criar-anuncio" tabindex="-1" role="dialog" aria-labelledby="criar-anuncio" aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
															<h4 class="modal-title" id="criar-anuncio">Criar novo anúncio</h4>
														</div>
														<div class="modal-body">
															<div class="row">
																<div class="col-md-6">
																	<div class="input-group">
																		<form name="anunciar" action="/anuncios" method="post">
																		<p class="llamaformheader">O que você procura?</p>
																		<input class="form-control llamainput" name="titulo" type="text" placeholder="Título" maxlength="30" required/>
																		<textarea rows="4" cols="50" class="form-control llamainput" name="descricao" type="text" placeholder="Descrição" required></textarea>
																		<p class="llamaformheader">Cadê você?</p>
																		<input class="form-control llamainput" name="bairro" type="text" placeholder="Seu bairro" maxlength="30" required/>
																		<input class="form-control llamainput" name="cidade" placeholder="Sua cidade" maxlength="30" required/>

																		<p class="llamaformheader">Contatos</p>
																		<input class="form-control llamainput" type="url" name="facebook" placeholder="Facebook" />
																		<input class="form-control llamainput" type="email" name="e-mail" placeholder="E-mail" />

																	</div>
																</div>
																<div class="col-md-6">
																	<div class="input-group">
																		<p class="llamaformheader">Sobre seu som...</p>
																		<input class="form-control llamainput" type="text" name="instrumentos" placeholder="Instrumentos que você toca" required/>
																		<input class="form-control llamainput" type="text" name="estilos" placeholder="Estilos de que você gostaria de tocar" />
																		<input class="form-control llamainput" type="text" name="estilosnao" placeholder="Estilos de que você não gostaria de tocar" />

																	<div class="llamacheckbox-container">
																		<p><input class="llamacheckbox" type="radio" name="interesse" value="banda" required/> Você procura uma banda?</p>
																		<p><input class="llamacheckbox" type="radio" name="interesse" value="casual" required/> ... ou só tocar casualmente?</p>
																	</div>
																		<p class="llamaformheader">Palavra-passe</p>
																		<p><i>Defina uma palavra-passe para o seu anúncio. Você só pode encerrar um anúncio se fornecer a palavra-passe correta!
																		</i></p>
																		<p><input class="form-controll llamainput" type="text" name="passw" placeholder="P4l4vr4-p4$$e" required></p>
																	</div>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<input type="submit" class="btn btn-sm btn-default" value="Publicar anúncio" />
														</div>
														</form>
													</div>
												</div>
											</div>
											<!-- fim do modal de criar anúncio -->
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start -->
		<!-- ================ -->
		<div id="banner" class="banner">
			<div class="banner-image"></div>
			<div class="banner-caption">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
							<h1 class="text-center">Bem-vindo ao <span>2GIG</span></h1>
							<p class="lead text-center">@msg</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="default-bg space blue">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="text-center" id="portfolio">Anúncios</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		<div class="section">
			<div class="container">
				<p class="lead text-center">Clique num anúncio para obter mais informações. Você também pode usar palavras-chave para fitrá-los.
					<br>
					Você também pode criar seu próprio anúncio <a href="#" data-toggle="modal" data-target="#criar-anuncio">clicando aqui</a></p>
				<br>			
				<div class="row object-non-visible" data-animation-effect="fadeIn">
					<div class="col-md-12">

						<!-- isotope filters start -->
						<div class="filters text-center">
							<ul class="nav nav-pills">
								<li><a href="#" data-filter=".banda">Quero formar uma banda</a></li>
								<li><a href="#" data-filter=".casual">Quero tocar casualmente</a></li>
								<li class="active"><a href="#" data-filter="*">Tanto faz</a></li>
							</ul>
						</div>
						<div class="filters text-center">
							<form action="/busca" method="get">
								<input class="form-controll llama-input main-searchbar" type="text" name="q" pattern=".{3,}" placeholder="Digite uma ou mais palavras-chave (ex.: John Bonham)" required>
								<input class="btn btn-sm btn-default" type="submit" value="Buscar">
							</form>
						</div>
						<!-- isotope filters end -->

						<!-- portfolio items start -->

						<div class="isotope-container row grid-space-20" id="anuncios-container">
							@for((anuncio, index) <- anuncios.zipWithIndex) {
							<div class="col-sm-6 col-md-3 isotope-item @anuncio.getInteresse()">
								<div class="image-box">
									<div class="llama-overlay-container">
										<h6>@anuncio.getTitulo()</h6>
										<br>
										em @anuncio.getBairro(), @anuncio.getCidade()
										<br>
										criado em @anuncio.getData_criacao_formatada()
									</div>
									<a class="btn btn-default btn-block" data-toggle="modal" data-target="#anuncio@index">Ver anúncio</a>
								</div>
								<!-- Modal -->
								<div class="modal fade" id="anuncio@index" tabindex="-1" role="dialog" aria-labelledby="anuncio-@index-label" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
												<h4 class="modal-title" id="anuncio-@index-label">@anuncio.getTitulo() | interesse: @anuncio.getInteresse() | <i>criado em @anuncio.getData_criacao_formatada()</i></h4>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-md-6">
														<p><b>Descrição:</b> @anuncio.getDescricao()</p>
														<p><b>Local:</b> @anuncio.getBairro(), @anuncio.getCidade()</p>
														<p><b>Instrumentos que toco:</b> @anuncio.getInstrumentos()</p>
														@if(anuncio.getEstilosGosta() != null && anuncio.getEstilosGosta().trim() != "") {
															<p><b>Estilos de que gosto:</b> @anuncio.getEstilosGosta()</p>
														}
														@if(anuncio.getEstilosNaoGosta() != null && anuncio.getEstilosNaoGosta().trim() != "") {
															<p><b>
																Estilos de que não gosto:</b> @anuncio.getEstilosNaoGosta()</p>
														}
													</div>
													<div class="col-md-6">
														<h4>Entre em contato!</h4>
														@if(anuncio.getFacebook() != null) {
															<p>Facebook: <a href="@anuncio.getFacebook()">@anuncio.getFacebook</a></p>
														}
														@if(anuncio.getEmail_contato() != null) {
															<p>E-mail: <a href="mailto:@anuncio.getEmail_contato()">@anuncio.getEmail_contato()</a></p>
														}
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<a class="btn btn-default llama-encerrator" data-toggle="modal" data-target="#encerrar-anuncio@index">encerrar anuncio</a> <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
											</div>
										</div>
									</div>

									<!-- encerrar anúncio inicio -->
									<div class="modal fade" id="encerrar-anuncio@index" tabindex="-1" role="dialog" aria-labelledby="encerrar-anuncio-@index-label" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
													<h4 class="modal-title" id="encerrar-anuncio-@index-label">Encerrar <i>@anuncio.getTitulo()</i></h4>
												</div>
												<div class="modal-body text-center">
														<form id="encerrar-anuncio" action="/anuncios/@anuncio.getId()" method="post">
															<p>Digite a palavra passe:</p>
															<input class="form-controll llama-input" type="text" placeholder="Digite a palavra-passe" name="passw" required />
															<br>
															<p>Você encontrou parceiros para tocar?
																<input class="llamacheckbox" type="radio" name="gig-sucesso" value="sim" required/> Sim :)
																<input class="llamacheckbox" type="radio" name="gig-sucesso" value="nao" required/> Não :( </p>
														</form>
												</div>
												<div class="modal-footer">
													<button type="submit" form="encerrar-anuncio" class="btn btn-sm btn-default">Finalizar Anúncio!</button> <button class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
												</div>
											</div>
										</div>
									</div>
									<!-- encerrar anuncio fim -->
								</div>
								<!-- Modal end -->
							</div>
							}
						</div>
						<!-- portfolio items end -->
					
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->

		<!-- contador -->
		<!-- ================ -->

		<div class="default-bg space">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						@if(sucessos < 1) {
							<h1 class="text-center">"<i>A vida sem música seria um erro</i>", disse o velho Nietzsche</h1>
						}
						@if(sucessos == 1) {
						<h1 class="text-center">Nós ajudamos a formar @sucessos gig! - é pouco mas é verdadeiro!</h1>
						}
						@if(sucessos > 1) {
							<h1 class="text-center">Nós ajudamos a formar @sucessos gigs!</h1>
						}
					</div>
				</div>
			</div>
		</div>

		<!-- contador end -->

		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">2GIG - base template by: <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="@routes.Assets.at("plugins/jquery.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="@routes.Assets.at("plugins/modernizr.js")"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="@routes.Assets.at("plugins/isotope/isotope.pkgd.min.js")"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="@routes.Assets.at("plugins/jquery.backstretch.min.js")"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="@routes.Assets.at("plugins/jquery.appear.js")"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="@routes.Assets.at("js/template.js")"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="@routes.Assets.at("js/custom.js")"></script>

}
